<div class="productos">
    {{!-- {{#each products}}
        
        <img src={{this.thumbnails}} alt="">
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>

    {{/each}} --}}
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>